.alert.alert-warning(*ngIf='isDebug')
    p.mb-0
        i.fas.fa-exclamation-triangle.mr-1
        |  This is a debug build. Please use the production build for production use.

h3([textContent]='translate.trans("settings.title")')
.mb-3([textContent]='translate.trans("settings.sub_title")')

.row
    .col-md-12
        i.fab.fa-fw.fa-windows.mr-1
        i.fab.fa-fw.fa-apple.mr-1
        i.fab.fa-fw.fa-linux

.alert.alert-warning(*ngIf='isUpdateAvailable')
    p.mb-0
        i.fas.fa-exclamation-triangle.mr-1
        | A New version is available to update: {{lastVersion}}

.row
    .col-md-12
        ul.nav-tabs(ngbNav, #nav='ngbNav')
            li(ngbNavItem)
                a(ngbNavLink) {{ translate.trans('tabs.general') }}
                ng-template(ngbNavContent)
                    .row.pb-1.has-border-top.mt-3
                        .col-md-12
                            .form-line
                                .header
                                    .title
                                        i.fas.fa-fw.fa-cog.mr-2
                                        span([textContent]='translate.trans("settings.service_label")')

                                select.form-control(
                                    [(ngModel)]='selectedProvider',
                                    (ngModelChange)='onSelectProviderChange()',
                                )
                                    option(*ngFor='let item of serviceProviders', [ngValue]='item.value') {{item.name}}

                            .form-line.enable-sync
                                .header
                                    .title
                                        i.fas.fa-fw.fa-check-circle.mr-2
                                        span Sync enabled
                                toggle(
                                    [(ngModel)]='syncEnabled',
                                    [disabled]='storedSettingsData === null',
                                    (ngModelChange)='toggleEnableSync()',
                                )

                            .form-line.enable-sync
                                .header
                                    .title
                                        i.fas.fa-fw.fa-check-circle.mr-2
                                        span Show sync loader
                                toggle(
                                    [(ngModel)]='isShowSyncLoader',
                                    [disabled]='storedSettingsData === null',
                                    (ngModelChange)='toggleEnableShowLoader()',
                                )

                            .form-line.sync-interval
                                .header
                                    .title
                                        i.fas.fa-refresh.mr-2
                                        span Interval syncing time (in seconds)
                                    .subtitle How often should Tabby sync your settings?
                                input.form-control(
                                    type='number',
                                    [(ngModel)]='intervalSync',
                                    [disabled]='storedSettingsData === null',
                                    (ngModelChange)='onIntervalSyncChanged()',
                                )

                    .row
                        .col-md-12(*ngIf='form_messages.errors.length || form_messages.success.length')
                            .alert.alert-success(*ngIf='form_messages.success.length')
                                p.pb-0.mb-0(*ngFor='let message of form_messages.success') {{message}}

                            .alert.alert-danger(*ngIf='form_messages.errors.length')
                                p.pb-0.mb-0(*ngFor='let message of form_messages.errors') {{message}}

                        .col-md-12.has-border-top.pt-3(*ngIf='selectedProvider === serviceProviderValues.BUILT_IN')
                            builtin-settings(
                                (resetFormMessages)='resetFormMessages()',
                                (setFormMessage)='setFormMessage($event)'
                            )

                        .col-md-12.has-border-top.pt-3(*ngIf='selectedProvider === serviceProviderValues.S3')
                            amazon-settings(
                                (resetFormMessages)='resetFormMessages()',
                                (setFormMessage)='setFormMessage($event)',
                                [provider]='serviceProviderValues.S3'
                            )

                        .col-md-12.has-border-top.pt-3(*ngIf='selectedProvider === serviceProviderValues.WASABI')
                            amazon-settings(
                                (resetFormMessages)='resetFormMessages()',
                                (setFormMessage)='setFormMessage($event)',
                                [provider]='serviceProviderValues.WASABI'
                            )

                        .col-md-12.has-border-top.pt-3(*ngIf='selectedProvider === serviceProviderValues.DIGITAL_OCEAN')
                            amazon-settings(
                                (resetFormMessages)='resetFormMessages()',
                                (setFormMessage)='setFormMessage($event)',
                                [provider]='serviceProviderValues.DIGITAL_OCEAN'
                            )

                        .col-md-12.has-border-top.pt-3(*ngIf='selectedProvider === serviceProviderValues.BLACKBLAZE')
                            amazon-settings(
                                (resetFormMessages)='resetFormMessages()',
                                (setFormMessage)='setFormMessage($event)',
                                [provider]='serviceProviderValues.BLACKBLAZE'
                            )

                        .col-md-12.has-border-top.pt-3(*ngIf='selectedProvider === serviceProviderValues.S3_COMPATIBLE')
                            amazon-settings(
                                (resetFormMessages)='resetFormMessages()',
                                (setFormMessage)='setFormMessage($event)',
                                [provider]='serviceProviderValues.S3_COMPATIBLE'
                            )

                        .col-md-12.has-border-top.pt-3(*ngIf='selectedProvider === serviceProviderValues.WEBDAV')
                            webdav-settings(
                                (resetFormMessages)='resetFormMessages()',
                                (setFormMessage)='setFormMessage($event)'
                            )

                        .col-md-12.has-border-top.pt-3(*ngIf='selectedProvider === serviceProviderValues.FTP')
                            ftp-settings(
                                (resetFormMessages)='resetFormMessages()',
                                (setFormMessage)='setFormMessage($event)'
                            )

                        .col-md-12.has-border-top.pt-3(*ngIf='selectedProvider === serviceProviderValues.GIST')
                            gist-settings(
                                (resetFormMessages)='resetFormMessages()',
                                (setFormMessage)='setFormMessage($event)'
                            )

                        .col-md-12.has-border-top.pt-3(*ngIf='selectedProvider === serviceProviderValues.DROPBOX')
                            dropbox-settings(
                                (resetFormMessages)='resetFormMessages()',
                                (setFormMessage)='setFormMessage($event)',
                            )

                        cloud-sync-about

            li(ngbNavItem)
                a(ngbNavLink) {{ translate.trans('tabs.sync_settings') }}
                ng-template(ngbNavContent)
                    .row.pb-1.has-border-top.mt-3.pt-3
                        .col-md-12
                            .form-line
                                .header
                                    .title
                                        i.fas.fa-fw.fa-layer-group.mr-2
                                        span([textContent]='translate.trans("sync.sync_sections_title")')
                                    .subtitle([textContent]='translate.trans("sync.sync_sections_hint")')

                            .sync-mode-list
                                .sync-mode-option(
                                    [class.active]='syncMode === "platform_safe"',
                                    (click)='onSyncModeChange("platform_safe")',
                                )
                                    .custom-control.custom-radio
                                        input#syncModePlatformSafe.custom-control-input(
                                            type='radio',
                                            name='syncSettingsMode',
                                            [checked]='syncMode === "platform_safe"',
                                            (change)='onSyncModeChange("platform_safe")',
                                        )
                                        label.custom-control-label(for='syncModePlatformSafe')
                                            strong {{ translate.trans('sync.sync_mode_platform_safe') }}
                                            .sync-mode-desc {{ translate.trans('sync.sync_mode_platform_safe_desc') }}

                                .sync-mode-option(
                                    [class.active]='syncMode === "full"',
                                    (click)='onSyncModeChange("full")',
                                )
                                    .custom-control.custom-radio
                                        input#syncModeFull.custom-control-input(
                                            type='radio',
                                            name='syncSettingsMode',
                                            [checked]='syncMode === "full"',
                                            (change)='onSyncModeChange("full")',
                                        )
                                        label.custom-control-label(for='syncModeFull')
                                            strong {{ translate.trans('sync.sync_mode_full') }}
                                            .sync-mode-desc {{ translate.trans('sync.sync_mode_full_desc') }}

                                .sync-mode-option(
                                    [class.active]='syncMode === "custom"',
                                    (click)='onSyncModeChange("custom")',
                                )
                                    .custom-control.custom-radio
                                        input#syncModeCustom.custom-control-input(
                                            type='radio',
                                            name='syncSettingsMode',
                                            [checked]='syncMode === "custom"',
                                            (change)='onSyncModeChange("custom")',
                                        )
                                        label.custom-control-label(for='syncModeCustom')
                                            strong {{ translate.trans('sync.sync_mode_custom') }}
                                            .sync-mode-desc {{ translate.trans('sync.sync_mode_custom_desc') }}

                            p.text-muted.small.mt-3.mb-0 {{ translate.trans('sync.sync_mode_compat_note') }}

                            .custom-mode-actions(*ngIf='syncMode === "custom"')
                                button.btn.btn-outline-primary((click)='openCustomFieldsDialog()')
                                    i.fas.fa-fw.fa-list.mr-2
                                    span {{ translate.trans('sync.configure_custom_items') }}
                                p.text-muted.small.mt-2.mb-0 {{ getCustomFieldsSummary() }}

                            .alert.alert-warning.mt-4(*ngIf='isEncryptedConfig')
                                i.fas.fa-fw.fa-lock.mr-2
                                span {{ translate.trans('sync.encrypted_config_warning') }}

                            .alert.alert-warning.mt-4(*ngIf='!isEncryptedConfig && !syncVault')
                                i.fas.fa-fw.fa-key.mr-2
                                span {{ translate.trans('sync.keychain_password_warning') }}

                            .sync-vault-section.mt-4
                                .sync-vault-row
                                    .sync-vault-label
                                        i.fas.fa-fw.fa-shield-alt.mr-2
                                        span {{ translate.trans('sync.sync_vault_title') }}
                                    toggle([(ngModel)]='syncVault')
                                p.text-muted.small.sync-vault-summary.mb-1 {{ translate.trans('sync.sync_vault_hint_short') }}
                                p.text-muted.small.sync-vault-scope.mb-0 {{ translate.trans('sync.sync_vault_scope_note') }}
                                details.sync-vault-details(*ngIf='syncVault')
                                    summary {{ translate.trans('common.details') }}
                                    p.text-muted.small.mb-0 {{ translate.trans('sync.sync_vault_details') }}

                            button.btn.btn-primary.mt-4((click)='saveSyncSectionSettings()')
                                i.fas.fa-fw.fa-save.mr-2
                                span {{ translate.trans('sync.save_sync_settings') }}

            li(ngbNavItem)
                a(ngbNavLink) {{ translate.trans('tabs.feedback') }}
                ng-template(ngbNavContent)
                    cloud-sync-feedback-form

            li(ngbNavItem)
                a(ngbNavLink) {{ translate.trans('tabs.change_logs') }}
                ng-template(ngbNavContent)
                    change-logs-cloud-sync

            li(ngbNavItem)
                a(ngbNavLink) {{ translate.trans('tabs.check_for_update') }}
                ng-template(ngbNavContent)
                    check-for-updates-cloud-sync

            li(ngbNavItem)
                a(ngbNavLink) {{ translate.trans('tabs.logs') }}
                ng-template(ngbNavContent)
                    plugin-logs

div([ngbNavOutlet]='nav')
